<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ .title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="form-angles" action="/manage-angels/store" method="post" enctype="multipart/form-data">
        <div class="modal-body">
            <div class="form-group">
               <label for="">Designation</label>
               <input id="designation" type="text" name="designation" value="{{ .angels.Designation }}" class="form-control">
            </div>
             <div class="form-group">
                <label for="">Name</label>
                <input id="name" type="text" name="name" value="{{ .angels.Name  }}" class="form-control">
             </div>
             <div class="form-group">
                <label for="">detail</label>
                <input id="detail" type="text" name="detail" value="{{ .angels.Detail  }}" class="form-control">
             </div>
             <div class="form-group">
                <label for="">Facebook</label>
                <input id="facebook" type="text" name="facebook" value="{{ .angels.Facebook  }}" class="form-control">
             </div>
             <div class="form-group">
                <label for="">github</label>
                <input type="text" id="github" name="github" value="{{ .angels.Github  }}" class="form-control">
             </div>
             <div class="form-group">
                <label for="">dropbox</label>
                <input type="text" id="dropbox" name="dropbox"  value="{{ .angels.Dropbox }}" class="form-control">
             </div>
             <div class="form-group">
                <label for="">twitter</label>
                <input type="text" id="twitter" name="twitter"  value="{{ .angels.Twitter }}" class="form-control">
             </div>
             <div class="form-group">
                <label for="">Image</label>
                <input id="file" type="file" name="image"  value="" class="form-control">
                  <img src="../../../static/uploads/{{ .angels.Image }}" width="100" height="100"   alt=""> 
             </div> 
          </div>
          <div class="modal-footer">
            {{ if .angels.Id }}
            <input type="hidden" name="id"  id="id" value="{{ .angels.Id }}">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Change Data</button>
            {{else}}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Data</button>
            {{end}}
          </div>
      </form>
    </div>
  </div>